<ion-view view-title="Dashboard">
  <ion-header-bar class="bar bar-header bar-energized" align-title="center">
    <h1 class="title"  >DASHBOARD</h1>
    </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col padding home-points">
        <p>PONTUAÇÃO - <span class="energized">4865987</span></p>
        <p>COLOCAÇÃO NA FILA - <span class="energized">1123°</span></p>
        <p>STATUS - <span class="energized">HABILITADO</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="button-home">
          <a ui-sref="questions">
            <div class="icon-button-home ion-chatbubbles"></div>
            <div class="text-button-home">Perguntas</div>
          </a>
        </div>
      </div>
      <div class="col col-50">
        <div class="button-home">
          <a ui-sref="schedule">
            <div class="icon-button-home ion-calendar"></div>
            <div class="text-button-home">Agendamento</div>
          </a>
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="button-home">
          <a ui-sref="assist">
            <div class="icon-button-home ion-location"></div>
            <div class="text-button-home">Assistência</div>
          </a>
       </div>
     </div>
      <div class="col col-50">
          <div class="button-home">
            <a ui-sref="register">
              <div class="icon-button-home ion-compose"></div>
              <div class="text-button-home">Cadastro</div>
            </a>
         </div>
      </div>
    </div>
  </ion-content>
</ion-view>
